<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style3.css" />

    <!--<h1>Sign In</h1>
<form action="/sign-in-url" method="post">
  <label for="username">Username:</label>
  <input id="username" type="username" required>
  <label for="password">Password:</label>
  <input id="password" type="password" required>
  <button>Login</button>
</form>
-->
    <link
      rel="stylesheet2"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="/script2.js" defer></script>
  </head>
  <body>
    <p id="demo">Hello.</p>

    <button
      type="button"
      onclick='document.getElementById("demo").innerHTML = "Goodbye!"'
    >
      Click Me!
    </button>

    <div class="container">
      <div class="container-fluid">
        <h2>Sarah Crawford</h2>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h1>
          Java Script
        </h1>
      </div>
    </div>

    <p>Welcome to all about me.</p>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p id="paraOne">
            My name is Sarah Crawford I am 15 years old. My birthday is in
            December. I am an only child unless you count our cat and nine
            chickens. One thing that I love to do is read. I almost always have
            a book on the go. My favorite genres are fantasy and sci-fi. I have
            been doing karate for over 7 years and have earned my purple belt. I
            enjoy karate but I am not a very athletic pearson.
          </p>
        </div>
        <div class="col-sm">
          <p class="text">
            I like to travel, though I haven't done a whole lot of it and I can
            get motion sickness. I have been to florida twice, alberta, PEI on a
            camping trip, mexico, this year we towed are trailer across the
            border to new york and camped at darien lake spending 3 days in six
            flags parks. Even though I am afraid of rollercoasters I managed to
            go on one. This year I am going onj the schools history trip to
            London, Paris, and Amsterdam. I am getting all the tips from my aunt
            who travels all the time.
          </p>
        </div>
        <div class="col-sm">
          <p class="text">
            I have been doing robotics for over four years now and I have
            learned how to build and design a robot. I learned about gear
            ratios, and how to use a saw. I also learned the basics of C++
            coding language, I hope to learn more about it this year.
          </p>
        </div>
      </div>
    </div>
    <!-- <p><a href="https://www.theweathernetwork.com/ca/weather/ontario/collingwood"> check out some coding tips here</a></p>
   -->

    <p>
      , In this case, JavaScript changes the value of the src (source) attribute
      of an image.
    </p>

    <button onclick="document.getElementById('myImage').src='pic_bulbon.gif'">
      Turn on the light
    </button>

    <img id="myImage" src="pic_bulboff.gif" style="width:100px" />

    <button onclick="document.getElementById('myImage').src='pic_bulboff.gif'">
      Turn off the light
    </button>

    <img
      class="irc_mi"
      src="https://dynamicmedia.zuza.com/zz/m/original_/8/3/839dd90b-25bf-4f4b-b7a7-53c9e992fadc/STA_cybergirls_oc05_ia_Super_Portrait.jpg"
      alt="Image result for vex robotics competition cyber girls"
      width="450"
      height="225"
      style=""
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
