/* styles */
/* called by your view template */

p.center {
  text-align: center;
  font-size: 200%;
  color: #C71585;
}

p.center2 {
  text-align: center;
  font-size: 150%;
  color: #9400D3;
}

p.center3 {
  text-align: center;
  font-size: 150%;
  color: #b3446c;
}
